<%= form_with(model: @task, local: true) do |form| %> <% if @task.errors.any? %>
<div id="error_explanation">
  <h2><%= @task.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<table class="table table-borderless mb-4">
  <tr class="task_title">
    <td class="col-2"><%= form.label t('view.title') %></td>
    <td class="col-10"><%= form.text_field :title %></td>
  </tr>
  <tr class="task_content">
    <td><%= form.label t('view.content') %></td>
    <td><%= form.text_field :content %></td>
  </tr>
  <tr class="task_deadline">
    <td><%= form.label t('view.deadline') %></td>
    <td><%= form.date_field :deadline %></td>
  </tr>
  <tr class="task_status">
    <td><%= form.label t('view.status') %></td>
    <td><%= form.select :status, Task.statuses.keys, include_blank: "選択して下さい" %></td>
  </tr>
  <tr class="task_priority">
    <td><%= form.label t('view.priority') %></td>
    <td><%= form.select :priority, Task.priorities.keys, include_blank: "選択して下さい" %></td>
  </tr>

  <tr>
    <% Label.all.each do |label| %>
    <td><%= form.check_box :label_ids, { multiple: true, checked: @task.labels.find_by(id: label.id).present?, include_hidden: false }, label[:id] %>
    <%= label.name %></td>
  </tr>
  <% end %>

  </tr>
</table>


<%= form.submit t('view.create task'), class: "btn btn-outline-dark mb-3" %>
<% end %>
