<h1><%= t('view.task list') %></h1>
<p><%= notice %></p>

<p>タスク名で検索</p>
<%= form_with(url: tasks_path, scope: :task, method: :get, local: true) do |form| %>
  <%= form.text_field :title %>
  <%= form.submit '検索' %>
<% end %>

<p>ステータス名で検索</p>
<%= form_with(url: tasks_path, scope: :task, method: :get, local: true) do |form| %>
  <%= form.select :status, Task.statuses.keys, include_blank: "選択して下さい" %>
  <%= form.submit '検索' %>
<% end %>
  
<div>
  <table>
    <tr>
      <th><%= t('view.title') %></th>
      <th><%= t('view.content') %></th>
      <th><%= t('view.deadline') %></th>
      <th><%= t('view.status') %></th>
    </tr>
  
  <% @tasks.each do |task| %>
    <tr class="task_row">
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.deadline %></td>
      <td><%= task.status %></td>
  
      <td><%= link_to t('view.show'), task %></td>
      <td><%= link_to t('view.edit'), edit_task_path(task) %></td>
      <td><%= link_to t('view.destroy'), task, method: :delete, data: { confirm: '削除してよろしいですか?' } %></td>
    </tr>
  <% end %>
  </table>
</div>

<%= link_to t('view.new task'), new_task_path %>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<%= link_to t('view.task list'), tasks_path %>

