<p><%= notice %></p>
<h1><%= t('view.task details') %></h1>

<table class="table table-borderless mb-5">

  <tr>
    <td class="col-2"><%= t('view.title') %></td>
    <td class="col-10"><%= @task.title %></td>
  </tr>
  <tr>
    <td><%= t('view.content') %></td>
    <td><%= @task.content %></td>
  </tr>
<tr>
  <td><%= t('view.deadline') %></td>
  <td><%= @task.deadline %></td>
</tr>
<tr>
  <td><%= t('view.status') %></td>
  <td><%= @task.status %></td>
</tr>
<tr>
  <td><%= t('view.priority') %></td>
  <td><%= @task.priority %></td>
</tr>

<tr>
  <td>ラベル</td>
  <td>
    <% @task.labels.each do |label| %>
    <%= label.name %>
    <% end %>
  </td>
</tr>

</table>

<%= link_to t('view.to task list'), tasks_path, class: "btn btn-primary" %>
