<h1><%= t('view.task details') %></h1>
<p><%= t('view.title') %>: <%= @task.title %></p>
<p><%= t('view.content') %>: <%= @task.content %></p>
<p><%= t('view.deadline') %>: <%= @task.deadline %></p>
<p><%= t('view.deadline') %>: <%= @task.status %></p>

<%= link_to t('view.to task list'), tasks_path %>
