<p><%= t('view.admin') %></p>

<h1><%= t('view.edit user') %></h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= @user.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: [:admin, @user], local: true) do |f| %>  
  <%= f.label t('view.name') %>
  <%= f.text_field :name %>

  <%= f.label t('view.email') %>
  <%= f.email_field :email %>

  <%= f.label t('view.password') %>
  <%= f.password_field :password %>

  <%= f.label t('view.password_confirmation') %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit t('view.update') %>
<% end %>

<%= link_to t('view.user list'), admin_users_path %>