<h1>管理画面：ユーザー一覧画面</h1>
<p>現在のログインユーザー：<%= current_user.name %></p>

<table class="table mb-5 table-borderless">
  <thead>
    <tr class="border-bottom">
      <th class="col-2">ID</th>
      <th class="col-2">名前</th>
      <th class="col-2">管理者権限</th>
      <th class="col-2">タスク数</th>
      <th class=""></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr class="task_row border-bottom">
      <td><%= user.id %></td>
      <td><%= link_to user.name, [:admin, user] %></td>
      <td><%= user.admin? ? '有' : '' %></td>
      <td><%= user.tasks.count %></td>
      <td><%= link_to t('view.edit'), edit_admin_user_path(user), class: "btn btn-outline-success py-1 mr-1" %>
      <%= link_to t('view.destroy'), [:admin, user], method: :delete, data: { confirm: "#{user.name}を削除してよろしいですか?" }, class: "btn btn-outline-danger py-1" %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<%= link_to t('view.sign up'), new_admin_user_path, class: "btn btn-primary" %>
